.home-page
  margin: 0
  padding: 0
  color: #fff
  font-family: Lato, 'sans-serif';
  font-size: 16px
  width: 100%

  .main-content
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    flex-direction: column


  /***** Slideshow *****/

  .slideshow
    position: fixed
    width: 100%
    height: 100%
    top: 0px
    left: 0px
    z-index: 0
    margin: 0
    padding: 0
    &:after
      position: fixed
      width: 100%
      height: 100%
      top: 0px
      left: 0px
      z-index: 0
      margin: 0
      padding: 0
      content: ''
      background-image: linear-gradient(to bottom, #db832b 0%, #ffc58c 100%)
      opacity: 0.75
    li
      span
        width: 100%
        height: 100%
        position: absolute
        top: 0px
        left: 0px
        color: transparent
        background-size: cover
        background-position: 50% 50%
        background-repeat: none
        opacity: 0
        z-index: 0
        animation: imageAnimation 36s linear infinite 0s
      &:nth-child(1) span
        background-image: url('../images/1.jpg')
      &:nth-child(2) span
        background-image: url('../images/2.jpg')
        animation-delay: 6s
      &:nth-child(3) span
        background-image: url('../images/3.jpg')
        animation-delay: 12s
      &:nth-child(4) span
        background-image: url('../images/4.jpg')
        animation-delay: 18s
      &:nth-child(5) span
        background-image: url('../images/5.jpg')
        animation-delay: 24s
      &:nth-child(6) span
        background-image: url('../images/6.jpg')
        animation-delay: 30s

  /***** ANIMATION ****
  @keyframes imageAnimation
    0%
      opacity: 0
      animation-timing-function: ease-in

    8%
      opacity: 1
      animation-timing-function: ease-out

    17%
      opacity: 1

    25%
      opacity: 0

    100%
      opacity: 0


  @media screen and (min-width: 600px)
    .countdown-clock
      flex-direction: row
      div
        margin: 10px
